.game-zone {
  font-family: Verdana;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("../images/background.png");
  font-weight: bold;
}

.player {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../images/tank-my-top.png");
  background-repeat: no-repeat;
}

.enemy {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../images/tank-enemy.png");
  background-repeat: no-repeat;
}

.bullet {
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
}

.enemy-bullet {
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
}

.start-panel {
  background: rgba(255, 255, 255, 0.67);
  backdrop-filter: blur(3px);
  opacity: 0;
  font-family: Verdana;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
  transition: 0.5s ease;
  position: absolute;
  height: 330px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 5px;
  z-index: 999;
}

.start-panel.on {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
}

.game-name {
  font-size: 40px;
}

.name-input {
  padding: 10px 20px;
  border: 2px solid #afafaf;
  border-radius: 3px;
  width: 90%;
  font-family: Verdana;
  font-size: 20px;
}

.start-button {
  display: block;
  padding: 10px;
  border: 2px solid #036783;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.panel-info {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  z-index: 999;
}

.info {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  -webkit-text-stroke: 0.25px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid #000;
  font-size: 25px;
  margin-right: 20px;
}

.name {
  display: block;
}

.points {
  display: block;
}

.life-img {
  width: 100px;
  height: 100px;
}

.game-over {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 1s linear;
}

.game-over.on {
  opacity: 1;
  visibility: visible;
  transition: 1s linear;
}

.game-over-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.game-over-text {
  display: block;
  font-size: 72px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.game-over-points {
  display: block;
  text-transform: uppercase;
  margin-left: 27%;
  margin-right: -73%;
  font-size: 36px;
}

.restart-text {
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: rgb(255, 0, 0);
  text-transform: uppercase;
  margin-left: 30%;
  margin-right: -70%;
  font-size: 36px;
}
